@model eCommerceFrontend.Models.View.Admin_Model.AdminView
@using Newtonsoft.Json

<div class="row col-auto text-center">
    <div class="col">
        <a class="btn btn-primary text-white">Add Category</a>
        <a class="btn btn-primary text-white">Add Product</a>
    </div>
</div>

<br />
<h3>Fulfilled Orders</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Email:</th>
            <th scope="col">Address:</th>
            <th scope="col">Phone:</th>
            <th scope="col">Items:</th>
            <th scope="col">Cash Payment</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.FulfilledOrders)
        {
            <text>
                <tr>
                    <td>@order.OrderEmail</td>
                    <td>@order.Address, @order.Address2, @order.OrderZipCode, @order.City</td>
                    <td>+(359)@order.Phone</td>
                    <td><a asp-controller="Admin" asp-action="ViewOrderItems" asp-route-order="@order.Id">Items</a></td>
                    <td>@order.IsCashPayment</td>
                    <td><a asp-controller="Admin" asp-action="UnfulfilOrder" asp-route-id="@order.Id" class="btn btn-primary">Unfulfill</a></td>
                </tr>
            </text>
        }
    </tbody>
</table>

<h3>Unfulfilled Orders</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Full Name:</th>
            <th scope="col">Address:</th>
            <th scope="col">Phone:</th>
            <th scope="col">Items:</th>
            <th scope="col">Cash Payment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.UnforefilledOrders)
        {
            <text>
                <tr>
                    <td>@order.OrderEmail</td>
                    <td>@order.Address, @order.Address2, @order.OrderZipCode, @order.City</td>
                    <td>+(359)@order.Phone</td>
                    <td><a asp-controller="Admin" asp-action="ViewOrderItems" asp-route-order="@order.Id">Items</a></td>
                    <td>@order.IsCashPayment</td>
                    <td><a asp-controller="Admin" asp-action="FulfilOrder" asp-route-id="@order.Id" class="btn btn-primary">Fulfill</a></td>
                </tr>
            </text>
        }
    </tbody>
</table>