@model eCommerceFrontend.Models.View.Admin_Model.ProductView

@{
    ViewData["Title"] = "ViewProduct";
}

<h1>ViewProduct</h1>

<div class="row">
    <div class="col-9 p-3">
        <form asp-controller="Admin" asp-action="AddProduct" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Size:</label>
                        </div>
                        <div class="form-group col-6">
                            <label>Quantity:</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input name="size1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <input name="value1" type="number" step="1" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input name="size2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <input name="value2" type="number" step="1" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input name="size3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <input name="value3" type="number" step="1" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input name="size4" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <input name="value4" type="number" step="1" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input name="size5" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <input name="value5" type="number" step="1" class="form-control" />
                        </div>
                    </div>

                </div>
                <div class="form-group col-md-9">
                    <div class="form-row">
                        <label>Name</label>
                        <input name="name" type="text" placeholder="Product Name" class="form-control" />
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Long Description:</label>
                            <input name="longDescription" type="text" placeholder="Long Description" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Short Description:</label>
                            <input name="shortDescription" type="text" placeholder="Short Description" class="form-control" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label>Original Price:</label>
                            <input name="originalPrice" type="number" step="0.1" placeholder="Original Price" class="form-control" />
                        </div>
                        <div class="form-group col-md-5">
                            <label>Current Price:</label>
                            <input name="actualPrice" type="number" step="0.1" placeholder="Actual Price" class="form-control" />
                        </div>

                        <div class="form-group col-md-2">


                            <div class="form-check row col-auto">
                                <div class="col">
                                    <label class="form-check-label">Active</label>

                                </div>
                                <div class="col">
                                    <input name="isLive" type="checkbox" placeholder="Is Live" class="form-check-input" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Image:</label>
                            <input name="file" type="file" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Category Id:</label>
                            <input name="categoryId" type="number" step="1" placeholder="CategoryId" class="form-control" />
                        </div>
                    </div>

                    <div class="form-row">
                        <input type="submit" value="Create" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>     
        </form>
    </div>
    <div class="col-3">
        Categories (Id - Name):
        <ul class="list-group">
            @foreach(var category in Model.Categories)
            {
                <li class="list-group-item">
                    @category.Id - @category.Name
                </li>
            }
        </ul>
    </div>

</div>

@if (Model.Products.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].LongDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].ShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].OriginalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].ActualPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].ProductSKU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products[0].IsLive)
                </th>
                <th>
                    Sizes:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductSKU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsLive)
                    </td>
                    <td>
                        <a asp-controller="Admin" asp-action="ViewSizes" asp-route-id="@item.Id">Sizes</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
