@model eCommerceFrontend.Models.REST.Objects.ProductResponse
@{ 
}

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <figure><img src="~/img/notfound.png" class='img-zoomable' style="width:100%" /></figure>
        </div>
        <div class="col-6 p-5">
            <div class="row">
                <div class="col-6 text-left font-weight-bold">
                    <h3>@Model.Name</h3>
                </div>
                <div class="col-6 text-right text-muted">
                    <p>Quantity @Model.Quantity</p>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-12 pt-1 pb-1">
                    @Model.LongDescription
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-3">
                    @if (Model.ActualPrice < Model.OriginalPrice)
                    {
                        <h2>$@Model.ActualPrice<span class="badge badge-success">DISCOUNT</span></h2>
                    }
                    <h2>$@Model.OriginalPrice</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form asp-controller="Cart" asp-action="AddToCart" method="post" >
                        <input type="hidden" name="imagePath" value="@Model.ImagePath" />
                        <input type="hidden" name="sku" value="@Model.ProductSKU" />
                        <input type="hidden" name="name" value="@Model.Name" />
                        @if (Model.ActualPrice < Model.OriginalPrice)
                        {
                            <input type="hidden" name="price" value="@Model.ActualPrice" />
                        }
                        else
                        {
                            <input type="hidden" name="price" value="@Model.OriginalPrice" />
                        }
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label>Size:</label>
                                <select name="size" class="form-control">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>
                            <div class="form-group col-4">
                                <label>Quantity:</label>
                                <input name="quantity" type="number" step="1" value="1" class="form-control" />
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/zooming/build/zooming.min.js"></script>

<script type="text/javascript">
    // Listen to images after DOM content is fully loaded
    document.addEventListener('DOMContentLoaded', function () {
        new Zooming({
            bgColor: 'rgb(0, 0, 0)',
            bgOpacity: 0.5,
            enableGrab: true,
            preloadImage: true,
            transitionDuration: 0.8,
        }).listen('.img-zoomable')
    })
</script>