@model eCommerceFrontend.Models.View.Home_Model.IndexView

@{
    ViewData["Title"] = "Home Page";
}
<div class="main-container">

    <sidenav>
        @{ await Html.RenderPartialAsync("Shared/_sidenav", Model); }
    </sidenav>

    <main>
        <div class="container-fluid pl-5 pr-5 pt-3">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <form asp-action="UpdateModel">
                        <div class="form-group">
                            <label>Search:</label>
                            <input type="hidden" name="pageNum" value="@Model.PageNum" />
                            <input type="hidden" name="pageSize" value="@Model.PageSize" />
                            <input type="hidden" name="categoryId" value="@Model.SelectedCategory" />
                            <input type="text" value="@Model.SearchTerm" name="search" class="form-control" onchange="this.form.submit()" />
                        </div>
                    </form>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <form asp-action="UpdateModel">
                        <div class="form-group">
                            <label>PageCount:</label>
                            <input type="hidden" name="pageNum" value="@Model.PageNum" />
                            <input type="hidden" name="search" value="@Model.SearchTerm" />
                            <input type="hidden" name="categoryId" value="@Model.SelectedCategory" />
                            <input type="number" value="@Model.PageSize" name="pageSize" class="form-control" onchange="this.form.submit()" />
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="container-fluid pl-5 pr-5 pt-2 pb-2">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <text>
                        <div class="col-sm-6 col-md-3 col-lg-3 p-3">
                            <div class="card" style="height:auto">
                                @{ await Html.RenderPartialAsync("Shared/_productCard", product); }
                            </div>
                        </div>
                    </text>
                }
                @if (Model.Products.Count == 0)
                {
                    <h3>No products found.</h3>
                }
            </div>

            @if (Model.TotalPages > 1)
            {
                await Html.RenderPartialAsync("Shared/_pagination", Model); 
            }

        </div>
    </main>
</div>


<style>
    .main-container {
        display: grid;
        grid-template-areas: "nav content";
        grid-template-columns: 250px 1fr ;
        grid-template-rows: auto 1fr;
        grid-gap: 10px;
        height: 100vh;
    }

    sidenav {
        grid-area: nav;
        margin-left: 0.0rem;
    }

    main {
        grid-area: content;
        width: 100%;
        height: 100%;
        padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
        box-sizing: content-box; /* So the width will be 100% + 17px */
        overflow-y: scroll;

    }

    ::-webkit-scrollbar {
        display: none;
    }

    @@media (max-width: 768px) {
      .main-container {
        grid-template-areas:
          "content";

        grid-template-columns: 1fr;
        grid-template-rows:

          1fr /* Content */
      }

      sidenav{
        margin: 0;
      }
}
</style>
